.App {
  text-align: center;
}
.scrollable{
  height: 100%;
  position: relative;
}

.filterBackground{
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -20;
}

.filterBackground::before{
  margin: 0;
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: -20;
}